@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("Header", "Home")
<body>

    <div id="wrapper">
        <header class="market-header header">
            <div class="container-fluid">
                @Html.Action("Navbar", "Home")
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->

        <div class="page-title db">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2>İletişim <small class="hidden-xs-down hidden-sm-down">Herhangi bir sorunuz varsa bizimle iletişime geçin.</small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
                            <li class="breadcrumb-item active">İletişim</li>
                        </ol>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->


        <section class="section lb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget-no-style">
                                <div class="newsletter-widget text-center align-self-center">
                                    <h3>Bugün Abone Olun!</h3>
                                    <p>Haftalık bültenimize abone olun ve güncellemeleri e-posta yoluyla alın.</p>
                                    <form class="form-inline" method="post">
                                        <input type="text" name="email" placeholder="E-posta adresinizi girin.." required class="form-control" />
                                        <input type="submit" value="Abone Ol" class="btn btn-default btn-block" />
                                    </form>
                                </div><!-- end newsletter -->
                            </div>

                            <div id="" class="widget">
                                <h2 class="widget-title">Reklam Alanı</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="https://medyavadisi.com/wp-content/uploads/2023/10/dijital-pazarlamada-google-reklamlari.jpg" alt="Reklam Görseli" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->

                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>Biz Kimiz?</h4>
                                    <p>Markedia, el yapımı ve kamerayla çekilmiş fotoğraf içerikleri, bağımsız yaratıcıların moda stilleri ve dünyadan farklı içerikler sunan kişisel bir blogtur.</p>
                                </div>

                                <div class="col-lg-6">
                                    <h4>Size Nasıl Yardımcı Olabiliriz?</h4>
                                    <p>Eğer bizim için yazmak, <a href="#">reklam vermek</a> veya sadece bizimle iletişime geçmek isterseniz, aşağıdaki formu doldurun ve size en kısa sürede geri dönüş yapacağız.</p>
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-wrapper">
                                        <h4>İletişim Formu</h4>
                                        <input type="text" class="form-control" placeholder="Adınız">
                                        <input type="text" class="form-control" placeholder="E-posta Adresiniz">
                                        <input type="text" class="form-control" placeholder="Telefon Numaranız">
                                        <input type="text" class="form-control" placeholder="Konu">
                                        <textarea class="form-control" placeholder="Mesajınız"></textarea>
                                        <button type="submit" class="btn btn-primary">Gönder <i class="fa fa-envelope-open-o"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>


        @Html.Action("Footer", "Home")

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    <script src="~/markedia/js/jquery.min.js"></script>
    <script src="~/markedia/js/tether.min.js"></script>
    <script src="~/markedia/js/bootstrap.min.js"></script>
    <script src="~/markedia/js/animate.js"></script>
    <script src="~/markedia/js/custom.js"></script>

</body>
</html>