@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Blog</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="~/Admin/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />
    <!-- FontAwesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Yazı Tipleri ve İkonlar -->
    <script src="~/Admin/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["~/Admin/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Dosyaları -->
    <link rel="stylesheet" href="~/Admin/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/css/kaiadmin.min.css" />

    <!-- Sadece demo amaçlı CSS dosyası, projeye eklemeyin -->
    <link rel="stylesheet" href="~/Admin/assets/css/demo.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Başlığı -->
                <div class="logo-header" data-background-color="dark">
                    <a href="~/Home/Index" class="logo text-white text-decoration-none">
                        <span class="navbar-brand fs-4 fw-bold">Blog Yönetim</span>
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
                <!-- Logo Başlığı Sonu -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-primary">
                        <!-- Dashboard -->
                        <li class="nav-item">
                            <a href="~/Home/Index">
                                <i class="fas fa-tachometer-alt"></i>
                                <p>Gösterge Paneli</p>
                            </a>
                        </li>

                        <!-- Bileşenler -->
                        <li class="nav-section">
                            <h4 class="text-section">Bileşenler</h4>
                        </li>

                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#componentsSection">
                                <i class="fas fa-cogs"></i>
                                <p>Komponentler</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="componentsSection">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/Category/AddCategory/">
                                            <i class="fas fa-plus-square"></i>
                                            <span class="sub-item">Kategori Ekle</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Category/GetCategoryList/">
                                            <i class="fas fa-th-list"></i>
                                            <span class="sub-item">Kategori Listesi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Category/Index/">
                                            <i class="fas fa-folder-open"></i>
                                            <span class="sub-item">Tüm Kategoriler</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Başlıklar -->
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#headingsSection">
                                <i class="fas fa-heading"></i>
                                <p>Başlıklar</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="headingsSection">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/Heading/AddHeading/">
                                            <i class="fas fa-plus-circle"></i>
                                            <span class="sub-item">Başlık Ekle</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Heading/Index/">
                                            <i class="fas fa-list"></i>
                                            <span class="sub-item">Başlık Listesi</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Yazarlar -->
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#writersSection">
                                <i class="fas fa-user"></i>
                                <p>Yazarlar</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="writersSection">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/Writer/AddWriter/">
                                            <i class="fas fa-user-plus"></i>
                                            <span class="sub-item">Yazar Ekle</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Writer/Index/">
                                            <i class="fas fa-users"></i>
                                            <span class="sub-item">Yazar Listesi</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Hakkımızda -->
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#aboutSection">
                                <i class="fas fa-info-circle"></i>
                                <p>Hakkımızda</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="aboutSection">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/About/Index/">
                                            <i class="fas fa-file-alt"></i>
                                            <span class="sub-item">Hakkımızda Görüntüle</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Dökümantasyon -->
                        <li class="nav-item">
                            <a href="~/Documentation/Index">
                                <i class="fas fa-book"></i>
                                <p>Dökümantasyon</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Başlık -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="../index.html" class="logo">
                            <img src="~/Admin/assets/img/kaiadmin/logo_light.svg"
                                 alt="Navbar Logosu"
                                 class="navbar-brand"
                                 height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="fas fa-bars"></i> <!-- Daha yaygın bir simge eklendi -->
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="fas fa-arrow-left"></i> <!-- Daha yaygın bir simge eklendi -->
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="fas fa-ellipsis-v"></i> <!-- Daha yaygın bir simge eklendi -->
                        </button>
                    </div>
                    <!-- Logo Başlık Sonu -->
                </div>

                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <!-- Arama Çubuğu -->
                        <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Ara ..." class="form-control" />
                            </div>
                        </nav>

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <!-- Mobil Arama -->
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">
                                    <i class="fa fa-search"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-search animated fadeIn">
                                    <form class="navbar-left navbar-form nav-search">
                                        <div class="input-group">
                                            <input type="text" placeholder="Ara ..." class="form-control" />
                                        </div>
                                    </form>
                                </ul>
                            </li>

                            <!-- Mesajlar -->
                            <li class="nav-item topbar-icon dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                    <li>
                                        <div class="dropdown-title d-flex justify-content-between align-items-center">
                                            Mesajlar
                                            <a href="#" class="small">Tümünü okundu olarak işaretle</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-notif-scroll scrollbar-outer">
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Admin/assets/img/mlane.jpg" alt="Profil Resmi" />
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Jhon Doe</span>
                                                        <span class="block">
                                                            Bugünkü toplantıya hazır...
                                                        </span>
                                                        <span class="time">12 dakika önce</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Admin/assets/img/img/talha.jpg" alt="Profil Resmi" />
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="subject">Talha</span>
                                                        <span class="block"> Merhaba, nasılsınız? </span>
                                                        <span class="time">17 dakika önce</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="see-all" href="javascript:void(0);">
                                            Tüm mesajları gör<i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Bildirimler -->
                            <li class="nav-item topbar-icon dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification">4</span>
                                </a>
                                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                    <li>
                                        <div class="dropdown-title">
                                            4 yeni bildiriminiz var
                                        </div>
                                    </li>
                                    <li>
                                        <div class="notif-scroll scrollbar-outer">
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-icon notif-primary">
                                                        <i class="fa fa-user-plus"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block"> Yeni bir kullanıcı kaydoldu </span>
                                                        <span class="time">5 dakika önce</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-success">
                                                        <i class="fa fa-comment"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Rahmad, Admin'e yorum yaptı
                                                        </span>
                                                        <span class="time">12 dakika önce</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="~/Admin/assets/img/profile2.jpg" alt="Profil Resmi" />
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            Reza size mesaj gönderdi
                                                        </span>
                                                        <span class="time">12 dakika önce</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-danger">
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block"> Farrah, Admin'i beğendi </span>
                                                        <span class="time">17 dakika önce</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Kullanıcı -->
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="~/Admin/assets/img/profile.jpg" alt="Profil Resmi" class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Merhaba,</span>
                                        <span class="fw-bold">Hizrian</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img src="~/Admin/assets/img/profile.jpg" alt="Profil Resmi" class="avatar-img rounded" />
                                            </div>
                                            <div class="u-text">
                                                <h4>Hizrian</h4>
                                                <p class="text-muted">hello@example.com</p>
                                                <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">Profili Görüntüle</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Profilim</a>
                                        <a class="dropdown-item" href="#">Bakiyem</a>
                                        <a class="dropdown-item" href="#">Gelen Kutusu</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Hesap Ayarları</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Çıkış Yap</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="container">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="~/Admin/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/Admin/assets/js/core/popper.min.js"></script>
    <script src="~/Admin/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/Admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="~/Admin/assets/js/kaiadmin.min.js"></script>
    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="~/Admin/assets/js/setting-demo2.js"></script>
    <script>
        $("#displayNotif").on("click", function () {
            var placementFrom = $("#notify_placement_from option:selected").val();
            var placementAlign = $("#notify_placement_align option:selected").val();
            var state = $("#notify_state option:selected").val();
            var style = $("#notify_style option:selected").val();
            var content = {};

            content.message =
                'Turning standard Bootstrap alerts into "notify" like notifications';
            content.title = "Bootstrap notify";
            if (style == "withicon") {
                content.icon = "fa fa-bell";
            } else {
                content.icon = "none";
            }
            content.url = "index.html";
            content.target = "_blank";

            $.notify(content, {
                type: state,
                placement: {
                    from: placementFrom,
                    align: placementAlign,
                },
                time: 1000,
            });
        });
    </script>
</body>
</html>

